<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Cars</title>
</head>
<body>
<a href="/addcar">Add a Car</a><br/>
<table>
    <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Actions</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.year}"></td>
        <td th:text="${car.make}"></td>
        <td th:text="${car.model}"></td>
        <td>
            <a th:href="@{/car-update/{id}(id=${car.id})}">Update</a>
            <a th:href="@{/car-detail/{id}(id=${car.id})}">Details</a>
            <a th:href="@{/car-delete/{id}(id=${car.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>